// Required for color manipulation
@use 'sass:color';
// Required functions from Bootstrap
@use '../../../node_modules/bootstrap/scss/functions';
// Import Bootstrap variables
@use '../../../node_modules/bootstrap/scss/_variables.scss' as *;

// Custom variables
$light-bg-subtle: color.mix($gray-100, $white) !default;
$neutral-light: #f8f9fa;
$primary: purple; // Custom primary color
$secondary: black; // Custom secondary color
$font-size-base: 16px; // Example customization

// Custom overrides
$body-bg: red !default;
