@use '../../node_modules/bootstrap/scss/functions'; // Required functions

$primary: purple; // Custom primary color
$secondary: #6c757d; // Custom secondary color
$font-size-base: 16px; // Example customization
