@use 'sass:color'; // Import only what is required here

$primary: #ade2fa;
$secondary: #333;

$header-bg: #000000;
$header-text: #ffffff;
$neutral-light: #f5f5f5;
$primary-light: color.scale(#ade2fa, $lightness: 20%);
$secondary-dark: color.scale(#333, $lightness: -15%);
