@use 'sass:color';
//@use 'bootstrap' as *;

//
$primary: #ade2fa;
$secondary: #333;

//header
$header-bg: #000000;
$header-text: #ffffff;

$neutral-light: #f5f5f5;

// Reusable color utilities
$primary-light: color.scale($primary, $lightness: 20%);
$secondary-dark: color.scale($secondary, $lightness: -15%);
