@use 'sass:color';
@use '../utilities/variables' as *;

#profile-details {
  .personal-avatar {
    text-align: center;
    margin-bottom: 1.5rem;

    .personal-image {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    p {
      font-size: 1rem;
      margin-top: 0.5rem;
    }
  }

  .profile-avatar {
    display: block;
    margin: 1rem auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .profile-banner {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-top: 1rem;
    border-radius: 0.5rem;
  }
}
