@use '../utilities/variables' as *;

.post-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: $neutral-light;
  border: 1px solid color.scale($neutral-light, $lightness: -10%);
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: $primary;
  }

  p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: $secondary;
  }

  img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    object-fit: cover;
  }

  .post-tags {
    font-size: 0.875rem;
    color: $secondary-dark;
    margin-top: 1rem;
  }
}
