@use '_index' as *;
@use 'utilities/variables' as *;
@use 'utilities/mixins';
@use 'pages/profile' as *;
@use 'pages/singlePost' as *;

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: $neutral-light;
}

main {
  padding: 1rem;
}
